<div class="container">
  <h3>Payment From</h3>
  <div class="row">
    <div class="form-group col">
      <label for="">Payee Name </label>
      <input class="form-control" (input)="onInput($event)" />
    </div>

    <div class="col">
      <label for=""><b>Name</b></label>
      <div>{{ name | titlecase }}</div>
    </div>
  </div>

  <div class="row">
    <div class="form-group col">
      <label for="">Payee Date </label>
      <input class="form-control" type="date" (input)="onInputDate($event)" />
    </div>

    <div class="col">
      <label for=""><b>Name</b></label>
      <div>{{ date | date : "yyyy/mm/dd" }}</div>
    </div>
  </div>

  <div class="row">
    <div class="col form-group">
      <label for="">Payee Currency</label>
      <input
        class="form-control"
        type="number"
        (input)="onCurrencyChange($event)"
      />
    </div>
    <div class="col">
      <label for=""><b>currency</b></label>
      <div>{{ currency | currency }}</div>
    </div>
  </div>
</div>
